/* Diseño mobile first */
* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25em;
}

/* Menú superior */
.b-menu {
    position: fixed;
    top: 0px;
    width: 100%;

    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);    
    
    z-index: 3;

    //Elementos internos
    & a {
        color: #000;
    }

    & ol {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
        color: #000;

        & li a {
            display: block;
            padding: 20px 20px;
            text-decoration: none;

            //Elemento externo
            &.menu__link--url {
                background-color: #F08080;
            }
    
            &:hover {
                background-color: #f4f4f4;
            }
    
            &.active {
                background-color: #4e7e7e;
                color: #fff;
            }
        }
    }

    & .logo {
        font-family: 'Playfair Display', sans-serif;
        display: block;
        float: left;
        font-size: 1.6em;
        padding: 20px 2px 20px 16px;
        text-decoration: none;
    }

    //Menú
    & .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    & .menu-icon {
        cursor: pointer;

        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

        & .navicon {
            background: #333;
            display: block;
            height: 1.5px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;

            &:before, &:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }

            &:before {
                top: 4px;
            }

            &:after {
                top: -4px;
            }
        }
    }

    & .menu-btn {
        display: none;

        &:hover {
            background-color: #f4f4f4;
        }

        &:checked ~ .menu {
            max-height: 360px;
        }

        &:checked ~ .menu-icon .navicon {
            background: transparent;
        }

        &:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
        }

        &:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
        }

        &:checked ~ .menu-icon:not(.steps) .navicon:before, 
        &:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0px;
        }
    }
}

/* Secciones informativas con respectivas cabeceras */
.sections {
    margin-top: 60px; //Para salvar el position-fixed del menú
    section {
        width: 100%;
        height: auto;
        display: none;

        /* Cabeceras */
        .header {
            &__portada {        
                width: 100%;
                height: calc(100vh - 60px);
                margin-bottom: 48px;
                background-color: #4e7e7e;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;

                text-align: center;

                &--title {
                    width: 100%;
                    max-width: 1080px;
                    margin: 0 auto;

                    h1 {
                        font-family: 'Playfair Display', serif;
                        font-size: 3em;
                        font-weight: 700;
                        line-height: 1.1em;
                        color: #fff;
    
                        margin-bottom: 32px;
                    }
    
                    h2 {
                        font-family: 'Playfair Display', serif;
                        font-size: 2em;
                        font-weight: 700;
                        line-height: 1.1em;
                        color: #fff;
                    }
                }                
            }
            &__section {
                width: 100%;
                height: auto;
                min-height: 280px;
                margin-bottom: 48px;
                background-color: #4e7e7e;

                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;

                //Disposición del título
                h2 {
                    font-family: 'Playfair Display', serif;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1.1em;
                    color: #fff;
                }
            }
        }
        
        /* Cuerpo */
        .container {
            width: 100%;
            max-width: 768px;
            margin: 0px auto;

            box-sizing: border-box;
            padding: 0 16px;

            ////
            ////Elementos de la portada
            ////
            &--home {
                .intro {
                    .authors, .office, .summary, .keywords, .issn, .cite, .share {
                        margin-bottom: 24px;
                    }

                    .summary, .keywords, .issn, .cite, .share {
                        :first-child {
                            font-weight: 700;
                            margin-bottom: 4px;
                        }
                    }

                    .authors {
                        .author {
                            :last-child {
                                color: #4e7e7e;
                            }
                            margin-bottom: 12px;
                        }
                    }

                    .office {
                    }

                    .summary {

                    }

                    .issn {

                    }

                    .keywords {

                    }

                    .cite {

                    }

                    .share {

                    }

                    //Estilos de la caja
                    box-sizing: border-box;
                    padding: 16px;
                    border: 1px solid;
                    margin-bottom: 48px;
                }

                .scrollytelling {
                    position: relative;

                    box-sizing: border-box;
                    padding: 16px;
                    margin-bottom: 24px;

                    //Figura estática
                    #header-chart {
                        position: absolute;
                        top: 0px;
                        height: 400px;
                        width: 100%;
                        max-width: calc(100% - 32px);
                        background-color: #d3d3d3;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                    
                    #header-chart.active {
                        position: fixed;
                        transform: translateY(-50%);
                        max-width: calc(100% - 64px);
                    }

                    //Cards
                    article {
                        position: relative;
                        padding: 0;
                        width: 100%;
                        max-width: 320px;
                        margin: 0 auto;

                        .step {
                            margin: 0 auto 20px auto;
                            color: #fff;

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        
                        .step:last-child {
                            margin-bottom: 0;
                        }
                        
                        .step p:first-child {
                            text-align: center;
                            padding: 1rem;
                            font-size: 1.25rem;
                            background-color: #3b3b3b;
                        }

                        .step p:last-child {
                            text-align: center;
                            padding: 1rem;
                            font-size: 1rem;
                            background-color: #3b3b3b;
                        }
                    }
                }

                .text {
                    font-size: 1em;
                        
                    max-width: 640px;
                    margin: 0 auto;
                    margin-bottom: 24px;
                }
            }

            ////
            ////Elementos de secciones
            ////
            &--section {
                //Introducción a modo de destacados
                .highlights {
                    width: 100%;

                    box-sizing: border-box;
                    padding: 8px;
                    
                    background-color: lightsteelblue;
                }

                //Bloques de información (texto y visualizaciones)
                .content {
                    //Discrimación con el primero y el último
                    &:not(&:first-of-type, &:last-of-type) {
                        padding-bottom: 16px;
                        margin-top: 32px;

                        border-bottom: 1px solid;
                    }
                    &:first-of-type {
                        padding-bottom: 16px;

                        border-bottom: 1px solid;
                    }
                    &:last-of-type {
                        margin-top: 32px;
                    }
                    
                    //Elementos internos
                    .text {
                        font-size: 1em;
                        
                        max-width: 640px;
                        margin: 0 auto;
                        margin-bottom: 24px;
                    }
                    .chart {
                        margin-bottom: 16px;
                    }
                }
            }            
        }

        //Visibilidad
        &.visible {
            display: block;
        }
    }
}

/* Footer - Compartido por todas las secciones */
footer {
    width: 100%;
    height: auto;
    min-height: 220px;
    background-color: #d3d3d3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    margin-top: 48px; //+ 16px de la última visualización
    padding: 24px;

    //Elementos internos
    .footer__icons {
        width: 110px;
        display: flex;
        justify-content: space-between;
        
        .fa {
            padding: 12px;
            font-size: 24px;
            width: 24px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }
    
        .fa:hover {
            opacity: 0.7;
        }
        
        .fa-facebook {
        background: #3B5998;
        color: white;
        }
        
        .fa-twitter {
        background: #55ACEE;
        color: white;
        }
    }
    
}

@media (min-width: 768px) {
    .sections {
        section {
            .header {
                &__portada {
                    &--title {
                        h1 {
                            font-size: 4em;
                        }
                        h2 {
                            font-size: 3em;
                        }
                    }
                }
            }
            .container {
                padding: 0px;

                &--home {
                    .scrollytelling {
                        #header-chart {
                            width: 736px;
                            max-width: 736px;
                        }
                        #header-chart.active {
                            width: 736px;
                            max-width: 736px;
                        }
                    }
                }
            }
        }
    }
}

/* Cambio a sin menú de hamburguesa */
@media (min-width: 965px) {
    .b-menu {
        & li {
            float: left;
        }

        & li a {
            padding: 20px 30px;
        }

        & .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        & .menu-icon {
            display: none;
        }
    }
}